@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700,900&display=swap');

:root {
/*   @media screen and (max-height: 600px) and (max-width: 1200px) { */
  --center-height: 360px;
  --center-width: 528px;
  --photo-container-size: 180px;
  --background-image-height: 250px;
/*   } */
}

.center {
  position: absolute;
  height: var(--center-height);
  width: var(--center-width);
  top: var(--background-image-height);
  left: calc((100% - var(--center-width))/2);
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

/* @media screen and not (min-height: 768px) {
  .center {
   top: 15%; */

.photo-container {
  position: relative;
  max-width: 100%;
  height: var(--photo-container-size);
  width: var(--photo-container-size);
  float: left;
  top: -18%;
  left: 5%;
  border: 10px solid white;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  background-image: url(https://i.ibb.co/z4VssdS/un-prap-Cropped.jpg);
  background-size: var(--photo-container-size);
}

.about-top {
/*   border: 1px red dotted; */
  height: 35%;
  width: 50%;
  margin: 10px;
  float: right;
  font-family: 'Roboto', 'sans-serif';
  color: #383838;
  font-size: 16px;
  line-height: 1.5rem;
}

h1 {
  font-family: 'Roboto', 'sans-serif';
  font-size: 20px;
  font-style: bold;
  margin: 5px 0px 5px 0px;
}

.about-top .location {
  font-size: 1.25rem;
  margin: 5px 10px 0px 10px;
}

a {
  color: black;
  text-decoration: none;
}

a i {
  font-size: 1.8rem;
  margin: 0 10px 0 2px;
}

.about-bottom {
   position: relative;
/*   border: 1px red dotted; */
  top: -10%;
  left: 5%;
  height: 50%;
  width: 85%;
  margin: 0 10px;
  float: left;
  font-family: 'Roboto', 'sans-serif';
  color: #383838;
  font-size: 17px;
  line-height: 1.3rem;
}

.about-bottom ul {
  margin: 5px 0;
  padding-left: 20px;
  list-style: square;
}

.background {
/*   border: 1px red solid; */
  height: 300px;
  width: 100%;
  background-image: url(https://c2.staticflickr.com/8/7144/6833943163_42760fc771_b.jpg);
  background-size: cover;
  filter: blur(3px);
}

.footer {
  --footer-height: 72px;
  --footer-width: var(--center-width);
  position: absolute;
  top: calc(100% - var(--footer-height));
  left: calc((100% - var(--footer-width))/2);
  height: var(--footer-height);
  width: var(--footer-width);
  border-radius: 20px 20px 0 0;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  font-family: 'Roboto', 'sans-serif';
  color: #383838;
  font-size: 12px;
}

.thanks {
  margin: 0.75rem;
}